<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .adicionarCarta{
            display: flex;
            flex-direction: column;
            gap: 15px;
            max-width: 300px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Adicionar Carta</h1>
        <form class="adicionarCarta">
            <input type="text" autocomplete="off" id="nomeCarta"list="sugestoesCartas" placeholder="Digite O Nome Da Carta">

            <datalist id="sugestoesCartas"></datalist>
            
            <div id="containerAcabamentos" style="display: flex; gap: 15px;"></div>
            
            <input type="text" autocomplete="off" id="qntCarta" disabled placeholder="Digite A Quantidade De Carta">
            
            <div id="dropdownEdicoes" class="listaEdicoes"></div>
        </form>
        <button id="btnSalvar" type="button">Adicionar Carta</button>
    </div>

    <script src="/static/JavaScript/paginaInicial.js"></script>
</body>
</html>