<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .adicionarCarta{
            display: flex;
            flex-direction: column;
            gap: 15px;
            max-width: 300px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Adicionar Carta</h1>
        <form class="adicionarCarta">
            <input type="text" autocomplete="off" id="nomeCarta"list="sugestoesCartas" placeholder="Digite O Nome Da Carta">
            <datalist id="sugestoesCartas"></datalist>
            <input type="text" autocomplete="off" id="edicaoCarta" placeholder="Digite A Edicao Da Carta">
            <input type="text" autocomplete="off" id="acabamentoCarta" placeholder="Digite O Acabamento Da Carta">
            <input type="text" autocomplete="off" id="qntCarta" placeholder="Digite A Quantidade De Carta">
        </form>
        <button id="btn-helloWorld" type="button">Adicionar Carta</button>
    </div>

    <script src="/static/JavaScript/paginaInicial.js"></script>
</body>
</html>